.section--clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section--clients__title {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: $text-color-main;
  margin-bottom: 30px;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;

  &__link {
    display: flex;
    max-width: 210px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: #afb1b8;
    justify-content: center;
    align-items: center;

    transition-property: fill, border-color;
    transition-duration: $transition-duration;
    transition-timing-function: $timing-function;
    &:hover,
    &:focus {
      fill: $background-color-accent;
      border-color: $background-color-accent;
    }
  }

  &__item {
    margin-bottom: 30px;
    margin-right: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .clients__link {
    max-width: 226px;
  }
  .clients__item {
    flex-basis: calc((100% - 90px) / 3);
  } 
}

@media screen and (min-width: 1200px) {
  .section--clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .section--clients__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }

  .clients__link {
    max-width: 170px;
  }
  .clients__item {
    flex-basis: calc((100% - 180px) / 6);
  } 
}