.section--clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.title__section--clients {
  font-size: 28px;
  font-weight: bold;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: $text-color-main;
  margin-bottom: 30px;
}

.clients {
  display: flex;
  flex-wrap: wrap;

  width: 450px;
  margin-bottom: -30px;
  margin-right: -30px;
  margin-left: 15px;

  &__link {
    display: flex;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: #afb1b8;
    justify-content: center;
    align-items: center;

    transition-property: fill, border-color;
    transition-duration: $transition-duration;
    transition-timing-function: $timing-function;
    &:hover,
    &:focus {
      fill: $background-color-accent;
      border-color: $background-color-accent;
    }
  }

  &__item {
    margin-bottom: 30px;
    margin-right: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
}
