.section--features {
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0;
  min-width: 767px;
}

.features__container {
  margin: 0 auto;
}

.features {
  &__item {
    max-width: 450px;
    height: 226px;
  }

  &__item:not(:last-child) {
    margin-bottom: 30px;
  }
  &__title {
    font-weight: bold;
    font-size: inherit;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $text-color-main;
    margin-bottom: 10px;
    text-align: center;
  }
  &__text {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $text-color-secondary;
  }
  &__thumb {
    display: flex;
    height: 120px;
    background-color: $background-color-gray;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  &__icon {
    width: 70px;
    height: 70px;
  }
}
