.navigation {
  display: none;
}

.contacts-header {
  display: none;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.logo--black {
  color: #000000;
}

.container--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-button {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
  line-height: 0;
  cursor: pointer;

  transition-property: fill;
  transition-duration: $transition-duration;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    fill: $background-color-accent;
  }
  
  &__icon {
    width: 24px;
    height: 16px;
  }
}



.mobile-menu {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: $background-color-main;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;


  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &__container {
    position: relative;
    padding: 6vh 8vw;
  }

  &__close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
  line-height: 0;
  cursor: pointer;

  transition-property: fill;
  transition-duration: $transition-duration;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    fill: $background-color-accent;
  }
  }

  &__close-icon {
    width: 19px;
    height: 19px;
  }
}


.nav-mobile {
  &__link {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: $text-color-main;
    
    transition-property: color;
    transition-duration: $transition-duration;
    transition-timing-function: $timing-function;
    
    &:hover,
    &:focus {
    color: $text-color-accent;
    }
    
    &.current {
      color: $text-color-accent;
    }
  }
  &__item:not(:last-child) {
    margin-bottom: 4vh;
    }
}


.contacts-mobile {
  margin-top: 38vh;


  &__item:not(:last-child) {
    margin-bottom: 4vh;
  }

  &__link-tel {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $text-color-accent;
    }

  &__link-email {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $text-color-secondary;
    }
}


.socials-mobile {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8vh;

  &__link {
    font-weight: 500;
    line-height: 1.71;
    letter-spacing: 0.02em;
    color: $text-color-accent;
    }

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__item:not(:first-child)::after {
    position: absolute;
    display: block;
    content: "";
    width: 1px;
    height: 22px;
    background-color: rgba(33, 33, 33, 0.2);
    transform: translate(-5px, -22px);
    }
}


@media screen and (min-width: 480px) {
    
  .nav-mobile__link {
      font-size: 40px;
      line-height: 1.18;
  }
    
  .contacts-mobile {
  &__link-tel {
    font-size: 34px;
    line-height: 1.18;
    }

  &__link-email {
    font-size: 24px;
    line-height: 1.17;
  }
  }
  
  
  .socials-mobile {
    &__link {
      font-size: 18px;
      line-height: 1.22;
      }
  
    &__item:not(:last-child) {
      margin-right: 20px;
    }
  
    &__item:not(:first-child)::after {
      transform: translate(-10px, -22px);
      }
  }
}

@media screen and (min-width: 768px) {
  
  
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  .navigation-header {
    display: flex;
    align-items: center;
  }

  .burger-button {
    display: none;
    }
  
  .navigation {
    display: flex;
    margin-left: 88px;

    &__item:not(:last-child) {
      margin-right: 50px;
    }


    &__link {
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: $text-color-main;
      
      transition-property: color;
      transition-duration: $transition-duration;
      transition-timing-function: $timing-function;
      
      &:hover,
      &:focus {
      color: $text-color-accent;
      }
      
      &.current {
        color: $text-color-accent;
        position: relative;
      }

      &.current::after {
        position: absolute;
        display: block;
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        margin-top: 29px;
        background-color: $background-color-accent;
        }
    }
    
  }
  

  .contacts-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 84px;

    &__link {
      font-weight: 500;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.02em;
      color: $text-color-secondary;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      fill: $text-color-secondary;
      
    transition-property: color, fill;
    transition-duration: $transition-duration;
    transition-timing-function: $timing-function;
      
    &:hover,
    &:focus {
    color: $text-color-accent;
    fill: $background-color-accent;
    }
    }

    &__item:not(:last-child){
      margin-bottom: 10px;
    }

    &__text {
     display: block;
    }

    &__icon--mail {
    width: 14px;
    height: 10px;
    margin-right: 8px;
    }

    &__icon--tel {
    width: 10px;
    height: 14px;
    margin-right: 8px;
      }
     }

  }

  @media screen and (min-width: 1200px) {
    .header {
      padding-top: 24px;
      padding-bottom: 25px;
    }
  
            
    .navigation {
      margin-left: 93px;
    }
    
  
    .contacts-header {
      flex-direction: row;
      align-items: center;
      margin-left: 305px;
  
      &__link {
        line-height: 1.14;
      }

      &__item:not(:last-child) {
        margin-bottom: 0;
        margin-right: 30px;
      }
   
      &__icon--mail {
      width: 16px;
      height: 12px;
      margin-right: 10px;
      }
  
      &__icon--tel {
      width: 10px;
      height: 16px;
      margin-right: 10px;
        }
       }
  }
