.gallery {
  &__item {
    max-width: 450px;
    
    transition-property: box-shadow;
    transition-duration: $transition-duration;
    transition-timing-function: $timing-function;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    &:hover .gallery__overlay {
      transform: translateY(-100%);
    }

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__card {
        border: 1px solid #eeeeee;
        padding: 20px 24px;
      }
    
  &__title {
        font-weight: bold;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: $text-color-main;
      }
    
  &__text {
        font-size: 16px;
        line-height: 1.88;
        color: $text-color-secondary;
        margin-top: 4px;
      }

  &__overlay--area {
        position: relative;
        overflow: hidden;
      }

  &__overlay {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(33, 150, 243, 0.9);
        padding: 77px 24px;
        transition: transform $transition-duration $timing-function;
      }
  &__overlay--text {
        font-size: 18px;
        line-height: 1.56;
        color: $background-color-main;
      }

}

@media screen and (min-width: 768px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    margin-right: -30px;

    &__card {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    &__item {
    margin-bottom: 30px;
    margin-right: 30px;
    max-width: 354px;
    flex-basis: calc((100% - 60px) / 2);
    }

    &__link {
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    &__overlay {
      padding: 49px 24px;
    }
}
}

@media screen and (min-width: 1200px){
  .gallery {
    
    &__item {
    max-width: 370px;
    flex-basis: calc((100% - 90px) / 3);
    }

    &__overlay {
      padding: 63px 24px;
    }
}
}
